@media (max-width: 320px) {
  #wrapper {
    max-width: 320px;
    margin: 0 auto;
  }

  nav ul {
    list-style: none;
    padding-left:0px;
    padding-right: 0px;
    border-bottom: none;
    margin-top: 0px;
  }

  nav li {
    display: none;
    margin-left: 0px;
  }


}
